<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title><link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>

        <h3>Short URL Creation </h3>
        <p>After you submit a valid url, you will receive a json object with the short url, note it down and you can use it anywhere you want!</p>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.com">
          <input type="submit" value="POST URL">
        </form>
        <h3>Example Usage:</h3>
        <a target="_blank" href="https://happypanda-url-shortener.herokuapp.com//api/shorturl/0">
          https://happypanda-url-shortener.herokuapp.com//api/shorturl/0
        </a>

        <h3>Will Redirect to:</h3>
        <p>http://www.freecodecamp.com</p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://github.com/JulienDemarque/">Julien Demarque</a>
        </p>
      </div>
   </body>


</html>
